.container{
    /* border: 1px solid red; */
    background-color:white;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 20px;
}
.box{
    /* border: 1px solid blue; */
    border-radius: 5px;
    background:#fbffff;
    margin: auto;
    padding: 20px;
    width: 50%;
    height: auto;
}

.box1{  
    width: 85%;
    height: auto;
    margin: 20px 20px;
    padding: 0px auto;
    
}
.box1 input{
    
    /* border-bottom: white; */
    /* border:transparent */
    border:2px solid lightblue;
    border-radius: 10px;
  
    width: 75%;
    height: 50px;
    margin: 0px;
    padding: 0px 20px 0px 60px;
    

}
.box1 input:hover{
    border: brown;
}
#gender, #sub{
    margin: auto 20px;
}
#gender label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: silver;
}
#sub{
    /* border: 1px solid red; */
    margin: auto;
    width: 60%;

}
#sub input{
    margin: 5px 5px 5px 20px;
    padding: 10px;
    border:2px solid lightblue;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: bold; */
    background-color: white;

}
#sub input:hover{
    background-color: blue;
    color: white;
}